/* El menu deslizante */
.sidebar {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #000000 0%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #000000 0%, #144E75 100%);
  background: linear-gradient(to bottom, #1C6EA4 0%, #000000 0%, #144E75 100%);
  box-shadow: 0 0 20px 10px black;
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s; 
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/* Boton que me lleva arriba */

#myBtn {
  position: fixed; 
  bottom: 20px; 
  right: 15px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: black;
  color: #959595; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: #444; 
}



/* estilos de la pagina */

html { 
  background: url(../images/portada.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Anton', sans-serif;
      }

img {
  border-radius: 50%;
  border: 10px solid #144E75;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 260px;
  box-shadow: 0 0 30px 20px black;
}

.Nombre {
  font-size: 55px;
  text-align: center;
  text-shadow: 1px 10px 10px #1C6EA4;
}

ul {
  text-align: left;
  list-style: inside;
}

.datospersonales {
border-radius: 20%;
padding: 8%;
padding-top: 1%;
line-height: 40px;
margin-left: 25%;
margin-right: 25%;
}

.Experiencia {
border-radius: 20%;
margin: 5%;
padding: 6%;
padding-top: 1%;
line-height: 50px;
}


.Conocimientoshabilidades {
border-radius: 15%;
margin: 10%;
padding: 8%;
line-height: 40px;
overflow-wrap: break-word;
}

.datospersonales,section {
  text-align: center;
  font-size: 18px;
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #1C6EA4 0%, #000000 0%, #144E75 100%);
  background: -webkit-linear-gradient(top, #1C6EA4 0%, #000000 0%, #144E75 100%);
  background: linear-gradient(to bottom, #1C6EA4 0%, #000000 0%, #144E75 100%);
  box-shadow: 0 0 20px 10px black;
  margin-bottom: 2%;
  margin-top: 2%;
  color: #959595;

}

.titulos  {
margin-bottom: 10%;
font-size: 40px;
font-weight:bolder;
color: #144E75;
text-shadow: 3px 3px 3px #000000;
}


button {
font-weight: bolder;
border: none; 
outline: none; 
background-color:black;
color: #959595; 
cursor: pointer; 
padding: 15px; 
border-radius: 10px; 
font-size: 18px;
}

button:hover {
  background-color:#144E75;
}



/* Para celulares */



@media only screen and (max-width: 675px) {
  img {
    height: 210px;
  }

  .Conocimientoshabilidades,.Experiencia,.datospersonales {
    font-size: 13px;
    border-radius: 10%;
    margin: 5%;
    margin-bottom: 1%;
    margin-top: 1%;
    line-height: 20px; 
  }

  .titulos  {
    font-size: 23px;
    }

}
